bokeh==3.1.0
cupy_cuda112==10.6.0
matplotlib==3.7.1
moviepy==1.0.3
numpy==1.22.3
numpy==1.23.5
opencv_python==4.7.0.72
opencv_python_headless==4.7.0.72
pandas==1.5.3
Pillow==9.4.0
Pillow==10.0.0
scipy==1.9.1
seaborn==0.12.2
tensorflow==2.8.0
tensorflow_intel==2.11.0
torch==2.0.1+cu117
tqdm==4.65.0
